* {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #68B738;
  text-transform: uppercase;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.header {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav__list {
  min-width: 478px;
  display: flex;
  justify-content: space-between;
}
.main-nav__item--active {
  border-bottom: 2px solid #fff;
}
.main-nav__link {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.3s all;
}
.main-nav__link:hover {
  color: rgba(225, 225, 225, 0.6);
}
.main-nav__link:active {
  color: rgba(225, 225, 225, 0.3);
}

.form-nav__item--active {
  border-bottom: 2px solid #68B738;
}
.form-nav__link {
  color: #111111;
}
.form-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.form-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.promo {
  position: relative;
  margin-left: 80px;
  margin-top: 111px;
}
.promo__title {
  width: 414px;
  line-height: 60px;
  margin-bottom: 40px;
}
.promo__text {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 52px;
}
.promo__btn {
  padding: 14px 26px;
  transition: 0.3s all;
}
.promo__btn:hover {
  background-color: #5EAA2F;
}
.promo__btn:active {
  color: rgba(225, 225, 225, 0.3);
}
.promo::after {
  content: url(../img/food-promo.png);
  position: absolute;
  z-index: 10;
  top: -80px;
  right: 230px;
}

.banner {
  position: relative;
}
.banner::after {
  content: url(../img/index-background-desktop.jpg);
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
  top: -55px;
  right: 610px;
  transform: translate(100%, 0px);
}
.banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 1043px;
  height: 696px;
  top: -55px;
  right: 610px;
  z-index: -1;
  transform: translate(100%, 0px);
  background-color: rgba(104, 183, 56, 0.85);
}

.catalogs {
  margin-top: 262px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogs__block {
  position: relative;
  width: 570px;
  height: 374px;
  background: #F2F2F2;
  padding: 41px 51px 55px 52px;
}
.catalogs__icon {
  position: absolute;
  top: 41px;
  left: 52px;
}
.catalogs__title {
  margin-top: 36px;
  margin-bottom: 73px;
  text-align: center;
  font-size: 36px;
}
.catalogs__text {
  color: #000;
  margin-bottom: 23px;
}

.slim__icon {
  width: 100px;
  height: 106px;
}

.pro__icon {
  left: 19px;
  width: 134px;
  height: 100px;
}

.btn-arrow__icon--short {
  width: 24px;
}

.btn-arrow__icon--long {
  display: none;
  width: 32px;
}

.btn-arrow {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}
.btn-arrow__icon {
  margin-left: 28px;
}
.btn-arrow:hover .btn-arrow__icon--long {
  display: block;
}
.btn-arrow:hover .btn-arrow__icon--short {
  display: none;
}
.btn-arrow:active {
  opacity: 0.3;
}

.how-work {
  margin-top: 71px;
}
.how-work__title {
  margin-bottom: 32px;
}
.how-work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-work__item {
  position: relative;
  width: 250px;
  height: 280px;
}
.how-work__text {
  margin-top: 151px;
}
.how-work__icon {
  position: absolute;
  top: 40px;
}
.how-work__number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}

.example {
  position: relative;
  margin-top: 69px;
}
.example__title {
  margin-bottom: 76px;
}
.example__wrapper {
  background: #F2F2F2;
  padding: 70px 0 75px 0;
}
.example__text {
  width: 436px;
}
.example__inner {
  display: flex;
  justify-content: start;
  align-items: center;
}
.example__progress {
  margin-top: 69px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.example__progress--item:not(:last-child) {
  margin-right: 42px;
}
.example__progress--item {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.example__progress--label {
  text-transform: none;
  font-size: 14px;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #F2F2F2;
}

.weight {
  padding: 15px 57px 20px 57px;
}
.weight__text {
  width: 114px;
}

.time-spent {
  padding: 15px 30px 20px 30px;
}
.time-spent__text {
  width: 142px;
}

.food-cost {
  font-size: 20px;
  text-transform: uppercase;
}
.food-cost__value {
  margin-left: 63px;
  font-size: 20px;
}

.progress {
  margin-left: 134px;
}
.progress__img {
  top: 0;
  position: absolute;
}
.progress__img--after {
  display: none;
  top: -20px;
  right: 200px;
}
.progress__bar {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 67px;
}
.progress__bar--before, .progress__bar--after {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.progress__line {
  position: relative;
  margin: 0 26px;
  width: 428px;
  height: 6px;
  background: #DCDCDC;
  border-radius: 6px;
}
.progress__line--circle {
  position: absolute;
  display: block;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  border: 13px solid #fff;
  background: #68B738;
  border-radius: 50%;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
}

.maps {
  position: relative;
}
.maps__item {
  width: 100%;
  min-height: 400px;
}
.maps__popup {
  padding: 0 89px 0 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  left: 10px;
  position: absolute;
  width: 570px;
  min-height: 201px;
  background-color: #fff;
}
.maps__popup--title {
  font-size: 20px;
  text-transform: uppercase;
  width: 163px;
}
.maps__address {
  width: 155px;
}
.maps__address--street {
  margin-bottom: 19px;
}

.footer {
  margin: 57px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo:hover .footer__logo--icon {
  opacity: 0.8;
}
.footer__logo:active .footer__logo--icon {
  opacity: 0.6;
}

.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 28px;
}
.social__item--icon {
  transition: 0.3s all;
  fill: #666;
}
.social__item--icon:hover {
  fill: #68B738;
}
.social__item--icon:active {
  fill-opacity: 0.3;
}
.social__item--facebook {
  stroke: #666;
}
.social__item--facebook:hover {
  stroke: #68B738;
}
.social__item--facebook:active {
  stroke-opacity: 0.3;
}

.copyright__link {
  display: flex;
  align-items: center;
}
.copyright__link:hover .copyright__logo {
  fill: #68B738;
}
.copyright__link:active {
  opacity: 0.3;
}
.copyright__logo {
  margin-left: 22px;
  fill: #666;
  transition: 0.3s all;
}

.form-block__title {
  margin-top: 70px;
  margin-bottom: 56px;
  line-height: 1;
}
.form-block__descr {
  width: 323px;
  margin-bottom: 66px;
  font-size: 20px;
}

.form {
  margin-bottom: 82px;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.form__label {
  white-space: nowrap;
  margin-right: 13px;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}
.form__input {
  transition: 0.3s all;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #E7E7E7;
  padding: 10px 40px 11px 20px;
}
.form__input:hover {
  border: 1px solid #CDCDCD;
}
.form__input:required {
  border: 2px solid #FF8282;
}
.form__title {
  margin-bottom: 76px;
  position: relative;
  font-size: 36px;
}
.form__title::before, .form__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background: #68B738;
  position: relative;
}
.form__title::before {
  left: -40px;
  margin-left: -100%;
}
.form__title::after {
  width: 150%;
  margin-right: -100%;
  right: -40px;
}
.form__btn {
  display: flex;
  align-items: center;
}

.info {
  width: 570px;
}
.info p {
  display: flex;
  align-items: center;
}
.info p:not(:last-child) {
  margin-bottom: 20px;
}

.contacts {
  margin-bottom: 70px;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__email, .contacts__phone {
  display: flex;
  align-items: center;
  width: 570px;
}
.contacts__email input, .contacts__phone input {
  transition: 0.3s all;
}
.contacts__email input:hover, .contacts__phone input:hover {
  border: 1px solid #CDCDCD;
}
.contacts__email input:required, .contacts__phone input:required {
  border: 2px solid #FF8282;
}
.contacts__email {
  position: relative;
}
.contacts__email::after {
  content: url(../icons/email.svg);
  position: absolute;
  right: 20px;
  top: 11px;
}
.contacts__phone {
  position: relative;
}
.contacts__phone::after {
  content: url(../icons/phone.svg);
  position: absolute;
  right: 17px;
  top: 14px;
}

.goal {
  padding: 25px 28px 25px 50px;
  border: 1px solid #E7E7E7;
  width: 568px;
}
.goal p:not(:last-child) {
  margin-bottom: 30px;
}
.goal__label {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin-left: 20px;
}
.goal__label::before {
  content: "";
  background-color: #fff;
  transition: 0.3s;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -4px;
  left: -60px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  cursor: pointer;
}
.goal__label:hover::before {
  border: 1px solid #BABABA;
}
.goal__label:disabled {
  opacity: 0.3;
}
.goal__label::after {
  content: "";
  background-color: #68B738;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: -48px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.goal__input:checked ~ .goal__label::after {
  display: block;
}
.goal__input {
  opacity: 0;
}
.goal__input:disabled ~ .goal__label {
  opacity: 0.3;
}

.comment {
  margin-bottom: 67px;
}
.comment__input {
  text-transform: uppercase;
  width: 100%;
  min-height: 174px;
  padding: 10px 18px;
  border: 1px solid #E7E7E7;
}

.addition {
  margin-bottom: 61px;
}
.addition p {
  width: 221px;
}
.addition__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.addition__input {
  opacity: 0;
}
.addition__input:disabled ~ .addition__label {
  opacity: 0.3;
}
.addition__label {
  position: relative;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  margin-left: 19px;
}
.addition__label::before {
  content: "";
  transition: 0.3s;
  background-color: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  left: -60px;
  border: 1px solid #CDCDCD;
  cursor: pointer;
}
.addition__label:hover::before {
  border: 1px solid #BABABA;
}
.addition__label::after {
  content: url(../icons/checkbox.svg);
  fill: green;
  position: absolute;
  left: -48px;
  top: 0;
  display: none;
  cursor: pointer;
}
.addition__input:checked ~ .addition__label::after {
  display: block;
}

.button__form {
  padding: 14px 188px;
  border: none;
  cursor: pointer;
}
.button__form--label {
  margin-left: 81px;
  font-family: "Arial", sans-serif;
}

.catalog {
  margin-top: 74px;
}
.catalog__title {
  margin-bottom: 165px;
}
.catalog__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__item {
  padding: 0 36px 40px 36px;
  width: 245px;
  background: #F2F2F2;
  margin-bottom: 143px;
}
.catalog__item--wrapper {
  margin-top: 41px;
  margin-bottom: 33px;
}
.catalog__item--img-500 {
  margin-top: -52px;
}
.catalog__item--img-1000 {
  margin-top: -80px;
}
.catalog__item--title {
  width: 145px;
  text-align: center;
  margin: 0 auto;
  color: #222222;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 22px;
  line-height: 21px;
}
.catalog__item--descr {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 0 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #CDCDCD;
}
.catalog__item--plus-part1, .catalog__item--plus-part2 {
  width: 60px;
  height: 2px;
  background: #D3D3D3;
}
.catalog__item--plus {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 25px;
}
.catalog__item--plus-part1 {
  margin-top: 30px;
  transform: rotate(90deg);
}
.catalog__item--weight, .catalog__item--taste, .catalog__item--cost, .catalog__item--value {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
}

.order__btn {
  background: #68B738;
  padding: 10px 53px;
  border: none;
}

.show-more {
  padding: 51px 35px 40px 35px;
  background: #fff;
  border: 2px solid #F2F2F2;
}
.show-more__descr {
  border-bottom: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  text-align: center;
  margin-bottom: 87px;
}
.show-more__btn {
  background: #F2F2F2;
  padding: 10px 38px;
  color: #444444;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.show-more__btn:hover {
  background: #EBEBEB;
}
.show-more__btn:active {
  color: rgba(68, 68, 68, 0.3);
}

.additional-items__title {
  margin-bottom: 81px;
  font-size: 36px;
}
.additional-items__title::before, .additional-items__title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background: #68B738;
  position: relative;
}
.additional-items__title::before {
  left: -40px;
  margin-left: -100%;
}
.additional-items__title::after {
  width: 150%;
  margin-right: -100%;
  right: -40px;
}
.additional-items__wrapper {
  border-top: 1px solid #CDCDCD;
  width: 896px;
}
.additional-items__item {
  padding: 15px 0 17px 0;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  align-items: center;
}
.additional-items__name {
  width: 335px;
  text-transform: uppercase;
  font-size: 20px;
}
.additional-items__descr {
  width: 244px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
}
.additional-items__cost {
  width: 82px;
}
.additional-items__btn {
  width: 244px;
  padding: 7px 26px;
}/*# sourceMappingURL=style.css.map */