* {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  display: inline-block;
  cursor: pointer;
  color: #fff;
  background-color: #68B738;
  text-transform: uppercase;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.title {
  font-size: 60px;
}

.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

.header {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  position: relative;
}
.main-nav__list {
  min-width: 478px;
  display: flex;
  justify-content: space-between;
}
.main-nav__item--active {
  border-bottom: 2px solid #fff;
}
.main-nav__link {
  padding: 5px 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.3s all;
}
.main-nav__link:hover {
  color: rgba(225, 225, 225, 0.6);
}
.main-nav__link:active {
  color: rgba(225, 225, 225, 0.3);
}

.form-nav__item--active {
  border-bottom: 2px solid #68B738;
}
.form-nav__link {
  color: #111111;
}
.form-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.form-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main__logo--img {
  width: 202px;
  height: 59px;
}

.hamburger {
  display: none;
  top: -10px;
  right: 0;
  background: none;
  border: none;
  width: 24px;
  height: 16px;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.hamburger span:not(:last-child) {
  margin-bottom: 6px;
}
.hamburger--active {
  top: -15px;
}
.hamburger--active span:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.hamburger--active span:nth-child(2) {
  display: none;
}
.hamburger--active span:nth-child(3) {
  transform: translateY(2px) rotate(45deg);
}
.additional-logo {
  display: none;
}

.promo {
  margin-left: 80px;
  margin-top: 111px;
}
.promo__wrapper {
  position: relative;
}
.promo__wrapper::after {
  content: url(../img/food-promo.png);
  position: absolute;
  z-index: 10;
  top: -86px;
  right: 320px;
}
.promo__title {
  width: 414px;
  line-height: 56px;
  margin-bottom: 40px;
}
.promo__text {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 46px;
}
.promo__btn {
  font-size: 20px;
  padding: 12px 26px;
  transition: 0.3s all;
}
.promo__btn:hover {
  background-color: #5EAA2F;
}
.promo__btn:active {
  color: rgba(225, 225, 225, 0.3);
}
.promo__img--mobile {
  display: none;
}

.banner {
  position: relative;
}
.banner::after {
  content: url(../img/index-background-desktop.jpg);
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
  top: -55px;
  right: 610px;
  transform: translate(100%, 0px);
}
.banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 1043px;
  height: 696px;
  top: -55px;
  right: 610px;
  z-index: -1;
  transform: translate(100%, 0px);
  background-color: rgba(104, 183, 56, 0.85);
}

.catalogs {
  margin-top: 268px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogs__block {
  position: relative;
  width: 570px;
  min-height: 374px;
  background: #F2F2F2;
  padding: 41px 51px 55px 52px;
}
.catalogs__icon {
  position: absolute;
  top: 41px;
  left: 52px;
}
.catalogs__title {
  margin: 25px 0 66px 161px;
  text-transform: uppercase;
  font-size: 36px;
}
.catalogs__text {
  color: #000;
  margin-bottom: 27px;
}

.slim__icon {
  top: 40px;
  width: 100px;
  height: 106px;
}

.pro__icon {
  left: 33px;
  top: 47px;
  width: 134px;
  height: 100px;
}

.btn-arrow__icon--short {
  width: 24px;
}

.btn-arrow__icon--long {
  display: none;
  width: 32px;
}

.btn-arrow {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
}
.btn-arrow__icon {
  margin-left: 28px;
}
.btn-arrow:hover .btn-arrow__icon--long {
  display: block;
}
.btn-arrow:hover .btn-arrow__icon--short {
  display: none;
}
.btn-arrow:active {
  opacity: 0.3;
}

.how-work {
  margin-top: 55px;
}
.how-work__title {
  margin-bottom: 32px;
}
.how-work__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-work__item {
  position: relative;
  height: 280px;
}
.how-work__text {
  margin-top: 137px;
}
.how-work__icon {
  position: absolute;
  top: 25px;
  left: 1px;
}
.how-work__number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}

.example {
  position: relative;
  margin-top: 40px;
}
.example__title {
  margin-bottom: 62px;
}
.example__wrapper {
  background: #F2F2F2;
  padding: 70px 0 70px 0;
}
.example__text {
  width: 436px;
}
.example__inner {
  display: flex;
  justify-content: start;
  align-items: center;
}
.example__progress--wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.example__progress--item:not(:last-child) {
  margin-right: 39px;
}
.example__progress--item {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
}
.example__progress--label {
  text-transform: none;
  font-size: 14px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #F2F2F2;
}

.weight {
  padding: 19px 57px 20px 57px;
}
.weight__text {
  width: 114px;
}

.time-spent {
  padding: 19px 30px 20px 30px;
}
.time-spent__text {
  width: 142px;
}

.food-cost {
  font-size: 20px;
  text-transform: uppercase;
}
.food-cost__value {
  margin-left: 59px;
  font-size: 20px;
}

.progress {
  min-height: 320px;
  position: relative;
  margin-left: 134px;
}
.progress__img {
  position: absolute;
}
.progress__img--before {
  top: -260px;
  left: 0;
}
.progress__img--after {
  display: none;
  top: -260px;
  right: -60px;
}
.progress__bar {
  display: flex;
  align-items: center;
  position: relative;
  bottom: -295px;
  right: -80px;
}
.progress__bar--before, .progress__bar--after {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.progress__bar--before:hover, .progress__bar--after:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.progress__bar--before:active, .progress__bar--after:active {
  border-bottom: none;
}
.progress__line {
  position: relative;
  margin: 0 26px;
  width: 428px;
  height: 6px;
  background: #DCDCDC;
  border-radius: 6px;
}
.progress__line--circle {
  transition: 0.3s;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  border: 1px solid #DCDCDC;
}
.progress__line--circle:hover {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
}
.progress__line--circle:active {
  border: 1px solid #68B738;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
}
.progress__line--circle-inside {
  width: 8px;
  height: 8px;
  background: #68B738;
  border-radius: 50%;
}

.maps {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.maps__img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.maps__popup {
  padding: 0 89px 0 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 93px;
  left: 110px;
  position: absolute;
  width: 570px;
  min-height: 205px;
  background-color: #fff;
}
.maps__popup--title {
  line-height: 25px;
  font-size: 20px;
  text-transform: uppercase;
}
.maps__address {
  width: 155px;
}
.maps__address--street {
  margin-bottom: 16px;
}

.footer {
  margin: 57px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo:hover .footer__logo--icon {
  opacity: 0.8;
}
.footer__logo:active .footer__logo--icon {
  opacity: 0.6;
}

.social {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 28px;
}
.social__item--icon {
  transition: 0.3s all;
  fill: #666;
}
.social__item--icon:hover {
  fill: #68B738;
}
.social__item--icon:active {
  fill-opacity: 0.3;
}
.social__item--facebook {
  stroke: #666;
}
.social__item--facebook:hover {
  stroke: #68B738;
}
.social__item--facebook:active {
  stroke-opacity: 0.3;
}

.copyright__link {
  display: flex;
  align-items: center;
}
.copyright__link:hover .copyright__logo {
  fill: #68B738;
}
.copyright__link:active {
  opacity: 0.3;
}
.copyright__logo {
  margin-left: 22px;
  fill: #666;
  transition: 0.3s all;
}

.form-block__title {
  margin-top: 70px;
  margin-bottom: 56px;
  line-height: 1;
}
.form-block__descr {
  text-transform: uppercase;
  width: 323px;
  margin-bottom: 66px;
  font-size: 20px;
}

.form {
  margin-bottom: 82px;
}
.form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 59px;
}
.form__label {
  white-space: nowrap;
  margin-right: 19px;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}
.form__input {
  transition: 0.3s all;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #E7E7E7;
  padding: 13px 40px 11px 20px;
}
.form__input:hover {
  border: 1px solid #CDCDCD;
}
.form__input:required {
  border: 2px solid #FF8282;
}
.form__title {
  margin-bottom: 70px;
  position: relative;
  font-size: 36px;
  background-color: #fff;
  padding: 0 23px;
}
.form__btn {
  display: flex;
  align-items: center;
}

.info {
  width: 570px;
}
.info p {
  display: flex;
  align-items: center;
}
.info p:not(:last-child) {
  margin-bottom: 23px;
}

.contacts {
  position: relative;
  margin-bottom: 58px;
}
.contacts__title {
  width: 560px;
}
.contacts::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 31px;
  right: 0;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.contacts__email, .contacts__phone {
  display: flex;
  align-items: center;
  width: 570px;
}
.contacts__email input, .contacts__phone input {
  transition: 0.3s all;
}
.contacts__email input:hover, .contacts__phone input:hover {
  border: 1px solid #CDCDCD;
}
.contacts__email input:required, .contacts__phone input:required {
  border: 2px solid #FF8282;
}
.contacts__email {
  position: relative;
}
.contacts__email::after {
  content: url(../icons/email.svg);
  position: absolute;
  right: 20px;
  top: 11px;
}
.contacts__phone {
  position: relative;
}
.contacts__phone::after {
  content: url(../icons/phone.svg);
  position: absolute;
  right: 17px;
  top: 14px;
}

.goal {
  padding: 27px 28px 25px 49px;
  border: 1px solid #E7E7E7;
  width: 569px;
}
.goal p:not(:last-child) {
  margin-bottom: 24px;
}
.goal__label {
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  margin-left: 20px;
}
.goal__label::before {
  content: "";
  background-color: #fff;
  transition: 0.3s;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  left: -61px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
  cursor: pointer;
}
.goal__label:hover::before {
  border: 1px solid #BABABA;
}
.goal__label:disabled {
  opacity: 0.3;
}
.goal__label::after {
  content: "";
  background-color: #68B738;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 6px;
  left: -49px;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
.goal__input:checked ~ .goal__label::after {
  display: block;
}
.goal__input {
  opacity: 0;
}
.goal__input:disabled ~ .goal__label {
  opacity: 0.3;
}

.comment {
  position: relative;
  margin-bottom: 51px;
}
.comment::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}
.comment__title {
  width: 230px;
}
.comment__input {
  text-transform: uppercase;
  width: 100%;
  min-height: 174px;
  font-size: 20px;
  padding: 7px 18px;
  border: 1px solid #E7E7E7;
}

.addition {
  position: relative;
  margin-bottom: 64px;
}
.addition::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}
.addition__title {
  width: 260px;
}
.addition p {
  width: 221px;
}
.addition__wrapper {
  margin-top: -16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
}
.addition__input {
  opacity: 0;
}
.addition__input:disabled ~ .addition__label {
  opacity: 0.3;
}
.addition__label {
  position: relative;
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
  margin-left: 19px;
}
.addition__label::before {
  content: "";
  transition: 0.3s;
  background-color: #fff;
  position: absolute;
  width: 40px;
  height: 40px;
  top: -6px;
  left: -60px;
  border: 1px solid #CDCDCD;
  cursor: pointer;
}
.addition__label:hover::before {
  border: 1px solid #BABABA;
}
.addition__label::after {
  content: url(../icons/checkbox.svg);
  fill: green;
  position: absolute;
  left: -48px;
  top: 0;
  display: none;
  cursor: pointer;
}
.addition__input:checked ~ .addition__label::after {
  display: block;
}

.button__form {
  font-size: 20px;
  padding: 13px 208px;
  border: none;
  cursor: pointer;
}
.button__form--label {
  margin-left: 81px;
  font-family: "Arial", sans-serif;
}

.catalog {
  margin-top: 56px;
}
.catalog__title {
  margin-bottom: 150px;
}
.catalog__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__item {
  padding: 0 36px 40px 40px;
  width: 245px;
  background: #F2F2F2;
  margin-bottom: 143px;
}
.catalog__item--wrapper {
  margin-top: 162px;
  margin-bottom: 30px;
}
.catalog__item--img-500 {
  position: absolute;
  margin-top: -52px;
}
.catalog__item--img-1000 {
  position: absolute;
  margin-top: -80px;
}
.catalog__item--title {
  width: 145px;
  text-align: center;
  margin: 0 auto;
  color: #222222;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 21px;
}
.catalog__item--descr {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 0 7px 0;
  justify-content: space-between;
  border-bottom: 1px solid #CDCDCD;
}
.catalog__item--plus-part1, .catalog__item--plus-part2 {
  width: 60px;
  height: 2px;
  background: #D3D3D3;
}
.catalog__item--plus {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}
.catalog__item--plus-part1 {
  margin-top: 30px;
  transform: rotate(90deg);
}
.catalog__item--weight, .catalog__item--taste, .catalog__item--cost, .catalog__item--value {
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
}

.order__btn {
  background: #68B738;
  padding: 10px 53px;
  border: none;
}

.show-more {
  padding: 49px 34px 40px 35px;
  background: #fff;
  border: 2px solid #F2F2F2;
}
.show-more__descr {
  border-bottom: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
  text-align: center;
  margin-bottom: 77px;
}
.show-more__btn {
  background: #F2F2F2;
  padding: 10px 40px;
  color: #444444;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.show-more__btn:hover {
  background: #EBEBEB;
}
.show-more__btn:active {
  color: rgba(68, 68, 68, 0.3);
}

.additional-items {
  position: relative;
  margin-top: -82px;
  margin-bottom: 86px;
}
.additional-items::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 28px;
  right: 0;
  height: 3px;
  background-color: #68b738;
  z-index: -1;
}
.additional-items__title {
  width: 385px;
  margin-bottom: 70px;
  font-size: 36px;
  background-color: #fff;
  padding: 0 23px;
}
.additional-items__list {
  border-top: 1px solid #CDCDCD;
  width: 896px;
}
.additional-items__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.additional-items__item {
  padding: 15px 0 17px 0;
  border-bottom: 1px solid #CDCDCD;
  display: flex;
  align-items: center;
}
.additional-items__name {
  width: 325px;
  text-transform: uppercase;
  font-size: 20px;
}
.additional-items__descr {
  width: 244px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444444;
}
.additional-items__cost {
  width: 82px;
}
.additional-items__btn {
  cursor: pointer;
  width: 244px;
  padding: 7px 26px;
}

.gift {
  display: inline-block;
}
.gift__wrapper {
  padding: 56px 43px 42px 41px;
  width: 245px;
  height: 289px;
  background-image: url(../img/gift-photo-desktop.png);
}
.gift__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 46px;
}
.gift__descr {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
}

@media (max-width: 1400px) {
  .progress {
    margin-left: 80px;
  }
}
@media (max-width: 1300px) {
  .promo__wrapper::after {
    left: 380px;
  }
  .progress {
    margin-left: 80px;
  }
}
@media (max-width: 1200px) {
  .progress {
    margin-left: 30px;
  }
  .promo__wrapper::after {
    z-index: -1;
    top: 200px;
    left: 0px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 768px;
  }
  .banner::before,
.banner::after {
    display: none;
  }
  .main-nav__link {
    color: #000;
    font-size: 18px;
  }
  .main-nav__list {
    min-width: 440px;
  }
  .main-nav__item--active {
    border-bottom: 2px solid #68B738;
  }
  .main__logo--img {
    width: 174px;
    height: 69px;
  }
  .promo {
    position: relative;
    margin-top: 62px;
  }
  .promo::after {
    z-index: -1;
    left: 0;
    top: 210px;
    width: 100%;
    height: 609px;
  }
  .catalogs {
    flex-wrap: wrap;
    margin-top: 480px;
  }
  .catalogs__block {
    width: 100%;
  }
  .catalogs__title {
    margin: 0px 0 66px 0px;
  }
  .catalogs__text {
    width: 377px;
  }
  .catalogs__icon {
    width: 200px;
    height: 211px;
  }
  .slim {
    margin-bottom: 30px;
  }
  .how-work__wrapper {
    flex-wrap: wrap;
    justify-content: start;
  }
  .how-work__item {
    width: 250px;
  }
  .how-work__item:nth-child(1), .how-work__item:nth-child(3) {
    margin-right: 130px;
  }
  .example {
    border-top: 1px solid #E6E6E6;
  }
  .example__title {
    margin-top: 43px;
  }
  .example__inner {
    flex-wrap: wrap;
  }
  .example__descr {
    width: 100%;
    margin-bottom: 100px;
  }
  .example__wrapper {
    padding: 0;
    background: #fff;
  }
  .example__text {
    width: 100%;
  }
  .example__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .example__progress--label {
    background: #fff;
  }
  .food-cost {
    text-align: right;
  }
  .food-cost__value {
    margin-left: 0;
    display: block;
  }
  .progress {
    background: #f2f2f2;
    width: 100%;
    margin-left: 0;
    min-height: 700px;
  }
  .progress__img {
    width: 100%;
    top: -60px;
    left: 0;
  }
  .progress__img--after {
    width: 600px;
    top: -40px;
    left: 110px;
  }
  .progress__bar {
    width: 500px;
    justify-content: center;
    margin: 0 auto;
    top: 590px;
    right: 0;
  }
  .maps__img {
    width: 100%;
  }
  .maps__popup {
    top: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .maps__popup--title {
    margin-right: 120px;
  }
  .pro__icon {
    width: 268px;
    left: 415px;
    top: 80px;
  }
  .slim__icon {
    left: 470px;
    top: 80px;
  }
  .info {
    width: 350px;
  }
  .goal {
    width: 350px;
  }
  .form__title::after {
    width: 100%;
  }
  .contacts__email, .contacts__phone {
    width: 370px;
  }
  .addition {
    margin: 0;
  }
  .addition__wrapper {
    flex-wrap: wrap;
  }
  .addition__wrapper p {
    margin-bottom: 40px;
  }
  .button__form {
    padding: 13px 150px;
  }
  .catalog-body .container {
    max-width: 708px;
  }
  .catalog-body .maps__popup--gray {
    background: #F2F2F2;
  }
  .catalog__item {
    position: relative;
    width: 324px;
  }
  .catalog__item--img-500, .catalog__item--img-1000 {
    left: 50%;
    transform: translateX(-50%);
  }
  .additional-items__wrapper {
    flex-wrap: wrap;
  }
  .additional-items__list {
    width: 100%;
  }
  .additional-items__item {
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    flex-wrap: wrap;
    padding: 26px 38px 28px 38px;
  }
  .additional-items__btn {
    margin-top: 26px;
  }
  .additional-items__cost {
    width: 60px;
  }
  .additional-items__name {
    width: 285px;
  }
  .order__btn {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
  .show-more__btn {
    display: block;
    margin: 0 auto;
  }
  .gift__wrapper {
    margin-top: 70px;
    background-image: url(../img/gift-photo-tablet.png);
    width: 708px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 124px 0 78px;
  }
  .gift__icon {
    margin: 0;
    width: 80px;
    height: 83px;
  }
  .gift__descr {
    margin: 0;
    width: 160px;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 708px;
  }
  .progress__img--before {
    top: 0;
  }
  .form-block__title {
    margin: 65px 0 54px;
  }
  .form__wrapper {
    flex-wrap: wrap;
  }
  .info,
.goal {
    width: 100%;
  }
  .info {
    margin-bottom: 72px;
  }
  .contacts__wrapper {
    flex-wrap: wrap;
  }
  .contacts__email, .contacts__phone {
    width: 100%;
  }
  .contacts__email {
    margin-bottom: 20px;
  }
  .form-body .container {
    max-width: 630px;
  }
  .form-body .form-nav__list {
    min-width: 420px;
  }
  .button__form {
    padding: 10px 90px;
  }
  .addition__wrapper {
    margin-bottom: 30px;
  }
  .form {
    margin-bottom: 72px;
  }
  .maps__popup--gray {
    background: #F2F2F2;
  }
}
@media (max-width: 708px) {
  .container {
    max-width: 650px;
  }
  .pro__icon {
    width: 200px;
    left: 420px;
    top: 80px;
  }
  .slim__icon {
    width: 150px;
    left: 450px;
    top: 80px;
  }
  .progress__img--after {
    width: 560px;
    top: -40px;
    left: 100px;
  }
}
@media (max-width: 670px) {
  .container {
    max-width: 576px;
  }
  .promo {
    position: relative;
    width: 100%;
    background-image: url(../img/Promo__bg--mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    min-height: 600px;
  }
  .promo__title {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-top: 47px;
    font-size: 56px;
  }
  .promo__text {
    margin-top: 35px;
    color: #fff;
    text-align: center;
  }
  .promo__wrapper::after {
    display: none;
  }
  .promo__btn {
    padding: 15px 30px;
    width: 450px;
    position: absolute;
    display: block;
    text-align: center;
    bottom: -550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .promo__img--mobile {
    display: block;
    position: absolute;
    width: 80%;
    top: 270;
    left: 50%;
    transform: translateX(-50%);
  }
  .catalogs {
    margin-top: 270px;
  }
  .catalogs__title {
    text-align: center;
    margin-bottom: 50px;
  }
  .catalogs__text {
    width: 100%;
    padding-bottom: 23px;
    border-bottom: 1px solid #D9D9D9;
  }
  .catalogs__block {
    padding: 30px 22px 18px 22px;
    height: 320px;
  }
  .how-work__title {
    font-size: 56px;
  }
  .how-work__text {
    max-width: 320px;
    margin: 0;
    margin-left: 50px;
  }
  .how-work__item {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
  }
  .how-work__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .how-work br {
    display: none;
  }
  .how-work__number {
    display: none;
  }
  .how-work__icon {
    position: relative;
    top: 0;
    left: 0;
  }
  .example__title {
    margin: 20px 0;
  }
  .example__progress {
    display: block;
  }
  .example__progress--wrapper {
    margin: 30px 0;
    justify-content: center;
  }
  .food-cost {
    text-align: center;
  }
  .food-cost__value {
    display: inline;
  }
  .slim__icon {
    width: 70px;
    top: -45px;
    left: 60px;
  }
  .pro__icon {
    width: 97px;
    top: -45px;
    left: 35px;
  }
  .header {
    margin-top: 11px;
    background: #fff;
  }
  .main__logo--img {
    width: 55px;
  }
  .main-nav__list {
    text-align: center;
    position: fixed;
    top: 84px;
    left: -200%;
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    display: block;
    margin: 0 auto;
    transition: 0.3s all;
  }
  .main-nav__list--active {
    left: 50%;
    transform: translateX(-50%);
  }
  .main-nav__item {
    display: block;
  }
  .main-nav__item--active {
    border-bottom: none;
  }
  .main-nav__link {
    border-top: 1px solid #E6E6E6;
    display: block;
    font-size: 20px;
    padding: 22px 0;
  }
  .hamburger {
    display: block;
  }
  .additional-logo {
    margin-top: 5px;
    display: block;
    margin-right: 60px;
    width: 141px;
  }
  .additional-logo__img {
    width: 141px;
  }
  .progress {
    min-height: 600px;
  }
  .progress__bar {
    top: 500px;
  }
  .progress__img--after {
    top: -80px;
    width: 100%;
    left: 0;
  }
  .maps__popup--title {
    margin-right: 60px;
  }
  .form-body .container {
    max-width: 500px;
  }
  .form-block__title {
    margin: 50px 0 45px 0;
    font-size: 53px;
  }
  .info {
    margin-bottom: 40px;
  }
  .form__title {
    font-size: 33px;
    margin-bottom: 50px;
  }
  .addition__wrapper {
    width: 100%;
  }
  .button__form {
    font-size: 18px;
    padding: 10px 60px;
  }
  .button__form--label {
    margin-left: 50px;
  }
  .contacts__title {
    width: 300px;
  }
  .comment__title {
    width: 215px;
  }
  .form-nav__item--active {
    border-bottom: 1px solid #E6E6E6;
  }
  .catalog-body .container {
    max-width: 280px;
  }
  .catalog {
    margin-top: 27px;
  }
  .catalog__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .catalog__item {
    border-top: 1px solid #EBEBEB;
    padding: 14px 0;
    background-color: #fff;
    margin-bottom: 11px;
  }
  .catalog__item--img-500 {
    width: 100px;
    height: 110px;
    top: 70px;
    left: 65px;
  }
  .catalog__item--img-1000 {
    width: 100px;
    height: 130px;
    top: 89px;
    left: 65px;
  }
  .catalog__item--wrapper {
    margin-top: 0;
  }
  .catalog__item--descr {
    width: 145px;
    margin: 0 0 0 auto;
  }
  .catalog__item--title {
    margin: 0 0 18px auto;
    font-size: 16px;
    text-align: right;
  }
  .catalog__item--weight, .catalog__item--taste, .catalog__item--cost, .catalog__item--value {
    font-size: 12px;
  }
  .catalog__item--plus-part1, .catalog__item--plus-part2 {
    margin: 0 auto;
    width: 30px;
  }
  .catalog__item--plus {
    height: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .catalog__item--title {
    font-size: 16px;
    width: 100%;
  }
  .show-more {
    border: none;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    width: 320px;
    padding: 25px 0;
  }
  .show-more__descr {
    width: 100%;
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 21px;
  }
  .show-more__title {
    text-align: center;
    margin-bottom: 8px;
  }
  .additional-items {
    margin-top: 0;
    margin-bottom: 35px;
  }
  .additional-items::after {
    top: 19px;
  }
  .additional-items__title {
    font-size: 24px;
    width: 275px;
    margin-bottom: 36px;
  }
  .additional-items__descr, .additional-items__cost {
    margin-top: 13px;
    font-size: 14px;
  }
  .additional-items__descr {
    width: 150px;
  }
  .additional-items__cost {
    width: 50px;
  }
  .additional-items__name {
    font-size: 16px;
  }
  .gift__wrapper {
    padding: 58px 60px 43px 59px;
    background-image: url(../img/gift-photo-mobile.png);
    width: 280px;
    height: 289px;
    margin-top: 40px;
    display: flex;
    flex-direction: colum;
  }
  .gift__descr {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 375px;
  }
  .promo {
    min-height: 400px;
  }
  .promo__title {
    font-size: 45px;
    padding-top: 27px;
    width: 320px;
  }
  .promo__text {
    margin: 25px 0 30px 0;
  }
  .promo__wrapper::before {
    width: 100%;
  }
  .promo__btn {
    width: 100%;
    bottom: -400px;
  }
  .catalogs__title {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 36px;
  }
  .catalogs__block {
    min-height: 300px;
  }
  .catalogs__text {
    font-size: 14px;
  }
  .how-work__item:nth-child(1),
.how-work__item:nth-child(3) {
    margin-right: 0;
  }
  .pro__icon {
    width: 75px;
    height: 50px;
    top: 35px;
    left: 10px;
  }
  .slim__icon {
    width: 50px;
    height: 50px;
    top: 35px;
    left: 30px;
  }
  .how-work__title {
    font-size: 36px;
  }
  .how-work__text {
    margin-left: 20px;
  }
  .example {
    background: #EAEAEA;
  }
  .example__wrapper {
    background: inherit;
  }
  .example__progress--label {
    background: #EAEAEA;
  }
  .example__title {
    font-size: 36px;
  }
  .example__text {
    font-size: 14px;
  }
  .progress {
    min-height: 400px;
    background: inherit;
  }
  .progress__line {
    width: 84px;
    background: none;
  }
  .progress__line--circle {
    justify-content: start;
    padding: 3px 5px;
    top: -4px;
    width: 84px;
    height: 14px;
    border-radius: 6px;
  }
  .progress__line--circle-inside {
    width: 35px;
    height: 6px;
    border-radius: 6px;
  }
  .progress__bar {
    width: 300px;
    top: 320px;
  }
  .progress__bar--before, .progress__bar--after {
    border-bottom: none;
    padding: 4px 10px;
  }
  .footer {
    margin: 25px 0;
  }
  .footer__wrapper {
    flex-direction: column;
    min-height: 200px;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer__logo {
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    padding-bottom: 32px;
  }
  .footer__logo--icon {
    display: block;
    margin: 0 auto;
  }
  .social {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
  }
  .maps__popup {
    justify-content: space-around;
    font-size: 16px;
    padding: 22px 20px;
  }
  .maps__popup--title {
    margin-right: 20px;
    font-size: 16px;
  }
  .form-body .container {
    width: 420px;
  }
  .form-block__title {
    margin: 27px 0 37px 0;
    font-size: 42px;
  }
  .form-block__descr {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .form__title {
    font-size: 24px;
  }
  .form__title::before {
    left: -23px;
  }
  .form__title::after {
    right: -23px;
  }
  .button__form--label {
    margin-top: 21px;
    margin-left: 0;
  }
  .form__btn {
    justify-content: center;
    flex-wrap: wrap;
  }
  .button__form {
    width: 100%;
  }
  .addition__wrapper {
    margin-bottom: 15px;
  }
  .addition__wrapper p {
    margin-bottom: 25px;
  }
  .form {
    margin-bottom: 32px;
  }
  .contacts::after {
    top: 19px;
  }
  .contacts__title {
    width: 230px;
  }
  .comment::after {
    top: 19px;
  }
  .comment__title {
    width: 170px;
  }
  .addition::after {
    top: 19px;
  }
  .addition__title {
    width: 190px;
  }
}
@media (max-width: 420px) {
  .container {
    max-width: 320px;
  }
  .header {
    margin: 12px 0 12px 0;
  }
  .main-nav__list {
    top: 65px;
  }
  .main__logo--img {
    width: 33px;
    height: 37px;
  }
  .additional-logo {
    margin-right: 0;
  }
  .additional-logo__img {
    width: 101px;
  }
  .promo {
    min-height: 300px;
  }
  .promo__title {
    font-size: 36px;
    line-height: 36px;
  }
  .promo__text {
    font-size: 14px;
  }
  .promo__btn {
    padding: 7px 0;
    font-size: 14px;
    bottom: -300px;
  }
  .catalogs {
    margin-top: 170px;
  }
  .catalogs__title {
    font-size: 24px;
  }
  .slim__icon {
    top: 25px;
    left: 40px;
  }
  .pro__icon {
    top: 25px;
  }
  .how-work {
    margin-top: 27px;
  }
  .how-work__text {
    font-size: 14px;
  }
  .example {
    min-height: 320px;
  }
  .example__progress--item {
    font-size: 24px;
  }
  .example__progress--label {
    width: 70px;
    line-height: 12px;
    font-size: 12px;
    bottom: -15px;
  }
  .example__progress .weight {
    padding: 14px 42px 17px 42px;
  }
  .example__progress .time-spent {
    padding: 14px 20px 17px;
  }
  .progress {
    min-height: 350px;
  }
  .progress__bar {
    top: 270px;
  }
  .maps__popup {
    min-height: 115px;
    justify-content: space-between;
  }
  .maps__popup--title {
    margin-right: 0;
  }
  .maps__address {
    line-height: 20px;
  }
  .maps__address--street, .maps__address--city {
    font-size: 14px;
    margin-bottom: 0;
  }
  .form-body .container {
    max-width: 320px;
  }
  .form-block__descr {
    width: 226px;
    font-size: 14px;
  }
  .form-block__title {
    font-size: 36px;
  }
  .form__label,
.goal__label,
.form__input,
.comment__input,
.addition__label,
.button__form {
    font-size: 16px;
  }
  .goal {
    padding: 20px 15px 20px 40px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 280px;
  }
  .example__progress--item:not(:last-child) {
    margin-right: 20px;
  }
  .catalogs__title {
    margin-left: 30px;
  }
  .slim__icon {
    top: 22px;
    left: 25px;
  }
  .pro__icon {
    top: 25px;
    left: 3px;
  }
  .progress {
    min-height: 310px;
  }
  .progress__bar {
    width: 240px;
    top: 240px;
  }
  .promo__title {
    max-width: 280px;
  }
  .promo__btn {
    bottom: -270px;
  }
  .catalogs {
    margin-top: 140px;
  }
  .maps__popup {
    padding: 22px 0px 22px 20px;
  }
  .form-body .container {
    max-width: 280px;
  }
}/*# sourceMappingURL=style.css.map */