.header
    margin-top: 49px
    display: flex
    align-items: center
    justify-content: space-between
.main-nav
    position: relative
    &__list
        min-width: 478px
        display: flex
        justify-content: space-between
    &__item
        &--active
            border-bottom: 2px solid #fff
    &__link
        padding: 5px 0
        color: #fff
        font-size: 20px
        text-transform: uppercase
        transition: 0.3s all
        &:hover
            color: rgba(225, 225, 225, .6)
        &:active
            color: rgba(225, 225, 225, .3)
.form-nav
    &__item
        &--active
            border-bottom: 2px solid #68B738
    &__link
        color: #111111
        &:hover
            color: rgba(0, 0, 0, .6)
        &:active
            color: rgba(0, 0, 0, .3)
.main__logo
    &--img
        width: 202px
        height: 59px
.hamburger
    display: none
    top: -10px
    right: 0
    background: none
    border: none
    width: 24px
    height: 16px
    z-index: 100
    position: absolute
    cursor: pointer
    span
        display: block
        width: 24px
        height: 2px
        background-color: #000000
        &:not(:last-child)
            margin-bottom: 6px
    &--active
        top: -15px
        span
            &:nth-child(1)
                transform: translateY(10px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(2px) rotate(45deg)
    &--active
.additional-logo
    display: none
