.maps
    position: relative
    &__item
        width: 100%
        min-height: 400px
    &__popup
        padding: 0 89px 0 76px
        display: flex
        justify-content: space-between
        align-items: center
        top: 10px
        left: 10px
        position: absolute
        width: 570px
        min-height: 201px
        background-color: #fff
        &--title
            font-size: 20px
            text-transform: uppercase
            width: 163px
    &__address
        width: 155px
        &--street
            margin-bottom: 19px